<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Oauth Donation Received</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
     <div class="container">
     <h1>API Key Donation Received</h1>
     <p>Thank you for donating oauth access to the CivilServant project. If your twitter username is successfully displayed below, it indicates that the process was successful. 
     <p>Username: {{username}}</p>
     <hr>
    <div id=footer><a href="http://civilservant.io">CivilServant</a>
    </div>
  </div>

</body>
</html>
