<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Donate API Access to the CivilServant Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
     <h1>Donating API Access to the CivilServant Project</h1>
     <p>This summer, Merry Mou, Nathan Matias, and Jon Penney will be using CivilServant to conduct a study to better understand the impact of the use of AI systems to detect and enforce the law on Twitter. For years, automated systems have attempted to detect copyright violations and submitted legal legal takedown notices to platforms under the Digital Millennium Copyright Act (DMCA). In this study, we will be doing two things:</p>
     <ul>
     <li>Conducting a natural experiment to estimate the "chilling effect" of receiving a DMCA takedown notice on regular twitter use.</li>
     <li>Testing an automated intervention aimed at reducing this chilling effect, if it exists.</li>
     </ul>

     <p>To do so, we will need to routinely query Harvard's Lumen system to observe when new DMCA takedown notices are received by Twitter, use the Twitter API to archive the tweets of accounts receiving notices, and observe the subsequent behavior of those accounts for a month. In the second part of the experiment, which may begin in June, we will use the Twitter API to intervene as needed.</p>
     <p>Because up to 12,000 new Twitter accounts are associated with DMCA reports per day, we need to make a large number of Twitter API queries. To make those queries, our research software needs API authorization from a substantial number of Twitter users.</p>
     <p>By donating API access to the CivilServant project, you allow us to generate knowledge on this important issue. The CivilServant system only requests read access, will not post on your behalf, and will not query private information about your account beyond what is needed to make queries about Lumen users. You may revoke access at any time. Donating API access will not reduce or restrict your own access to Twitter's APIs.</p>
     <p>This research project has been approved by the MIT Committee on the Use of Humans as Experimental Subjects.</p>

    <a class="btn btn-primary" href="{{link}}">Click This Link to Donate API Access</a>


    <hr>

    <div id=footer><a href="http://civilservant.io">More about CivilServant</a>
    </div>

    </div>

</body>
</html>
